[S3E]
# Add any settings here
#DispFixRot=FixedLandscape

#MemSize=40000000
MemSize=60000000
MemSizeDebug=200000000

KeyAbsBSK=Esc
#KeyAbsBSK=Back

IOSDispScaleFactor=200

WinWidth=1024
WinHeight=768

{OS=WINDOWS}
#Windowing options for desktop builds
#WinAllowAltEnter=1
#WinFullScreen=1
#WinFullScreenHeight=1024
#WinFullScreenWidth=768
#WinRefresh=0
#WinResizable=0
#WinTitle="W R O N G"
#WinSuspendOnFocusLoss=1

#WinWidth=1024
#WinHeight=768

[QUICK]
mainFileName="main.lua"
configFileName="config.lua"
